name: Provision EC2 with Terraform

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.0

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Initialize Terraform
        working-directory: .github/workflows/terraform
        run: terraform init

      - name: Validate Terraform
        working-directory: .github/workflows/terraform
        run: terraform validate

      - name: Plan Terraform Changes
        working-directory: .github/workflows/terraform
        run: terraform plan -out=tfplan

      - name: Apply Terraform (Provision EC2)
        working-directory:  .github/workflows/terraform
        run: terraform apply -auto-approve tfplan
